@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/homePage";
@import "./scss/header";
@import "./scss/game";
@import "./scss/card";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bcg-color;
  color: $font-color;
  font-family: $regular-font;
  font-size: $medium-font;
}
