.card {
  border: $border-thin-primary;
  width: 128px;
  height: 188px;
  margin: 8px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: $card-bg-color; // $bcg-card-color;
  z-index: 2;
  .card__name {
    @include flex-center;
    height: 40px;
    flex-shrink: 0;
    line-height: 16px;
    text-align: center;
    font-size: $small-font;
    border-bottom: $border-thin-primary;
  }
  .card__image {
    height: 99px;
    @include flex-center;
    position: relative;
    .TEST-image {
      width: 90px;
      height: 90px;
      outline: 1px dashed gray;
      margin: 2px auto;
    }
    .card__png {
      width: 90px;
      height: 90px;
      margin: 2px auto;
    }
    .card__Btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $card-bg-color;
      border: 0;
      border-radius: 8px;
      padding: 5px 12px;
      text-align: center;
      font-size: $higher-font;
      font-family: $fancy-font;
      letter-spacing: 3px;
    }
    .card__Btn--play {
      background-color: $card-play-color;
    }
    .card__Btn--discard {
      background-color: $card-discard-color;
    }
  }

  .card__value {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    flex-grow: 0;
    height: 49px;
    border-top: $border-thin-primary;
    font-size: $small-font;
    line-height: 16px;
  }
}
.card__shadow {
  box-shadow: 0px 0px 0px 4px $secondary-color;
}
