.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bg-color;
  .game__table {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    background-color: $bg-table-color;
  }
}
