@import "./scss/variables";

.homePage {
  text-align: center;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .homePage__title {
    font-family: $fancy-font;
    letter-spacing: 3px;
    font-size: $bigger-font;
    padding: 16px 0;
    margin-bottom: 12px;
    background-color: $bg-color;
    width: 100%;
  }
  .homePage__nav {
    background-color: $bg-color;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }

  .homePage__tagline {
    font-size: $big-font;
    margin: 0 0 12px 0;
    padding: 12px 0;
    background-color: $bg-color;
    width: 100%;
  }
  .homePage__text {
    font-size: $medium-font;
    background-color: $bg-color;
    padding: 16px;
    text-align: justify;
    line-height: 20px;
  }
  .homePage__btnBox {
    background-color: $bg-color;
    flex: 1;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  .homePage__ctaBtn,
  .homePage__ctaBtn:visited {
    background-color: $primary-color;
    color: $bg-color;
    border: 0;
    border-radius: 8px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: $big-font;
    display: block;
    width: 150px;
    margin-top: 40px;
    font-family: $fancy-font;
    letter-spacing: 3px;
  }
  .homePage__ctaBtn:hover,
  .homePage__ctaBtn:active {
    background-color: $secondary-color;
    color: $card-bg-color;
  }

  @media (min-width: 576px) {
    .tagline__break {
      display: none;
    }
    .homePage__tagline {
      width: 90%;
    }
    .homePage__text {
      width: 90%;
      padding: 32px;
      line-height: 24px;
      font-size: $higher-font;
    }
    .homePage__btnBox {
      width: 90%;
    }
    .homePage__nav {
      width: 90%;
    }
  }
  @media (min-width: 768px) {
    .homePage__nav {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 220px;
      padding: 0 10px;
      justify-content: space-between;
      height: 76px;
    }
  }
}
