.text__link {
  &:visited {
    color: $secondary-color;
    font-size: $higher-font;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $primary-color;
    text-decoration: underline;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
