$bg-color: #f3eba5;
$bg-table-color: #a69f60;

$font-color: #432109;
$primary-color: #113e0e;
$secondary-color: #110462;

$card-bg-color: #fff9c7; // $bcg-color: #d5dcbc;
$card-play-color: #375223;
$card-discard-color: #881711;

$fancy-font: "Freckle Face", cursive;
$regular-font: "Hammersmith One", sans-serif;

$bigger-font: 36px;
$big-font: 24px;
$higher-font: 18px;
$medium-font: 16px;
$small-font: 14px;

$border-thin-primary: 1px solid $primary-color;
$border-font-color: 2px solid $font-color;
